html, body
{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color: #CDEAFF;
}

#main
{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.center{
    flex-basis: 100vw;
    background-color: white;
}

.col{
    display: flex;
    flex-direction: column;
    }

.items
{
    background-color: #9FD4FF;
    display: flex;
    flex-basis: 100px;
    flex: 0.5;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
.items2
{
    background-color: #9FD4FF;
    display: flex;
    flex-basis: 100px;
    flex: 0.5;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.plants
{
    display: flex;
    flex: 0.5;
    flex-direction: row;
    justify-content: center;
}

.garden
{
    display: flex;
    flex: 0.5;
    flex-direction: row;
    background-color: #DE9252;
}