body {
  margin: 0;
  overflow-x: hidden;
}

/* containers */
.intro-container {
  /* background-color: #CDEAFF; */
  /* let's put at the end for the bg color */
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 38%, #b9e2ff 100%);
}

.holder {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* INTRODUCTION HEADER */
.Intro-head {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10%;
}

/* PHONE QUIZ */
.phone-question1 {
  margin-top: 10%;
}
.questionbody {
  text-align: center;
}

.phone-holder {
  margin-top: 10%;
}

/* HOW ARE OCEANS AFFECTED? */
.subhead-holder {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  padding-left: 20%;
  margin-top: 20%;
}

.fish-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.fish-holder {
  justify-content: center;
  display: flex;
  flex: 1;
  width: 100%;
}

/* Fish Bins Quiz */

#recycleBin-answer1 {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 0 40px;
  display: none;
}

#recycleBin-answer2 {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 0 40px;
  display: none;
}

#recycleBin-answer11 {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 0 40px;
  display: none;
}

#recycleBin-answer22 {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 0 40px;
  display: none;
}

.middle {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#fish-par-3 {
  display: none;
}

#hover {
  position: relative;
  top: 300px;
  left: -160px;
}

/* WENDY THE WHALE */

.whale-img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wendy-img {
  margin: 0px 40px;
}

/* magnifying glass */

.closer {
  margin-top: 30%;
}

/* COMMON ITEMS */

.interaction-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
}

.interaction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100vw;
}

#boat-move {
  position: relative;
  width: 100vw;
  height: 100%;
}

.color {
  background: rgb(183, 225, 255);
  background: linear-gradient(
    180deg,
    rgba(183, 225, 255, 1) 0%,
    rgba(221, 241, 255, 1) 50%,
    rgba(255, 255, 255, 1) 69%
  );
  width: 100%;
}

.col {
  display: none;
}

.items {
  display: flex;
  flex-basis: 100px;
  flex: 0.5;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
.items2 {
  display: flex;
  flex-basis: 100px;
  flex: 0.5;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* URBAN CITIES HEADER */

.urbancities-header {
  margin: 30% 0%;
}

.urban {
  display: flex;
  justify-content: center;

  flex-direction: row;
  width: 100%;
  height: 2000px;
  background-color: #c5e5c8;
}

.urban-left {
  display: flex;
  flex: 3;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.urban-middle {
  display: flex;
  justify-content: center;
  flex: 2;
  background-color: #5d5d5d;
}

.car-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  opacity: 0;
  transition: 0.5s;
  width: 100px;
}

.urban-right {
  display: flex;
  flex: 3;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-3 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.park-1 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.lets-go {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.sign-1 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.factory-urban {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.sign-2 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* landfill */

.landfill {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #b4dcbd;
  justify-content: center;
  flex-direction: column;
  background: rgb(180,220,189);
  background: linear-gradient(180deg, rgba(180,220,189,1) 0%, rgba(201,206,246,1) 34%, rgba(201,206,246,1) 65%, rgba(182,219,195,1) 100%);
}

.landfill-header {
  margin-top: 300px;
  margin-bottom: 100px;
}

.quiztime{
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 225px;
  background-color: #E2F8E7;
}

#flag-answer1{
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 0 40px;
  margin-bottom: 10rem;
  display: none;
}
#flag-answer2{
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 0 40px;
  margin-bottom: 10rem;
  display: none;
}

/* animals */

.animals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.animals-question {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin: auto;
}

.animals-comp {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin-bottom: 500px;
}

/* DIY SECTION */

.diy-section {
  background-color: #c9cef7;
  width: 100%;
  height: 100%;
  margin: auto;
}
.diy-header {
  margin-bottom: 150px;
}
.diy-comps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 80vw;
}

@media screen and (max-width: 600px) {
  .urban {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2000px;
    background-color: #c5e5c8;
  }

  .car-scroll {
    display: none;
  }

}
