body {
    margin: 0;
    overflow-x: none;
}

.container {
    background-color: #CDEAFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holder {
    justify-content: center;
    align-items: center;
}

/* hyerin */
#quiz_section {
    font-family: 'Montserrat', sans-serif;
    font-size: 73px;
}

.country{
    width: 100vw;
    height: 100vh;
    display:flex;
}
.recyclebin{
    /* display: flex; */
}


/* Kelly Flags revision */
.middle {
    display: flex;
    flex-wrap: wrap;
}

.flag {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}


/* flag true */

#flag-answer1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 60px;
    width: 100%;
    padding: 0px 40px;
    display: none;
}

#flag-answer2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 60px;
    width: 100%;
    padding: 0px 40px;
    display: none;
}
