body {
    margin: 0;
    overflow-x: none;
}

.container {
    background-color: #CDEAFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

