body {
    margin: 0;
    overflow-x: none;
}

.container {
    background-color: #CDEAFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* hyerin */
#quiz_section {
    font-family: 'Montserrat', sans-serif;
    font-size: 73px;
}

.country{
    width: 100vw;
    height: 100vh;
    display:flex;
}
.recyclebin{
    /* display: flex; */
}

